.mindmap {
  width: 100vw;
  height: calc(100vh - 36px);
}

#root {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Next-button {
  position: fixed;
  top: 1;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.Back-button {
  position: fixed;
  bottom: 1;
  width: 50%;
  height: 100%;
  z-index: 1;
}